.listPrice {
  color: #5b17aa;
  font-size: 18px;
  font-weight: bold;
}

.listPriceValue {
  text-decoration: none;
}

.sellingPrice {
  color: #3f3f40;
}

.sellingPriceValue {
  font-weight: 700;
}

.installments {
  color: #727273;
}

.savings {
}

.sellingPriceValue--summary {
  font-size: 18px;
  font-weight: 300;
  color: #6b6b6b;
}

.savings--summary {
  align-items: center;
  display: flex;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  font-size: 0.875rem;
  color: #6b6b6b;
  vertical-align: baseline;
}

.savings-discount--summary {
  font-size: 0.875rem;
  color: #6b6b6b;
}

.installments--summary {
  margin-bottom: 2rem;
  font-size: 0.875rem;
}

.savings--summaryPercentage {
  background: #0f3e99;
  border-radius: 1000px;
  align-items: center;
  display: flex;
}
