.searchBarContainer {
  max-width: 650px;
  min-width: 650px;
}

.searchBarContainer :global(.vtex-styleguide-9-x-input) {
  background: #eeeeee 0% 0% no-repeat padding-box;
  border: none;
  box-shadow: none;
  color: #6b6b6b;
}

.searchBarContainer :global(.vtex-input-prefix__group) {
  border: none;
  box-shadow: none;
}

.searchBarContainer :global(.vtex-input__suffix) {
  background-color: #dedede;
  padding: 0;
  width: 72px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.searchIcon {
  width: 23px;
  height: 30px;
}

.searchBarIcon {
  padding: 0;
}
